body {
  font-family: sans-serif;
}

.inputbox {
  background-color: gray;
  width: 400px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
.intext {
  padding: 5px;
  margin-left: 5px;
  padding-left: 5px;
  border: 0;
  border-radius: 8px;
}

button {
  border-radius: 8px;
}

button:hover {
  background-color: red;
  color: white;
}

.uncomp {
  background-color: pink;
  width: 400px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  min-height: 200px;
}

.comp {
  background-color: greenyellow;
  width: 400px;
  min-height: 200px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

p {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #3d3d3d;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

li {
  margin-right: 15px;
}
